.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;

  font-family: 'Gill Sans';
}

.main > div {
  width: 60rem;
  height: 25rem;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main > div > span {
  margin-bottom: 2rem;

  font-size: 2rem;
  font-weight: bolder;
}

.main > div > nav {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main > div > nav div {
  padding: 2rem 1.5rem;
  border: 1px solid black;

  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 500ms;
}

.main > div > nav div span {
  font-size: 2rem;
  font-weight: bolder;

  margin-top: 40px;
}

.main > div > nav div input {
  width: 10rem;
  height: 2rem;

  margin-top: 60px;

  border-radius: 10px;

  cursor: pointer;

  transition: 450ms;
}

.main > div > nav div:hover {
  background: lightblue;
}

.main > div > nav div input:hover {
  background: blue;
  color: white;
}

@media (max-width: 720px) {
  .main > div {
    width: 20rem;
    height: 75rem;

    align-items: center;
    justify-content: center;
  }
  .main > div > nav {
    flex-direction: column;
  }
  .main > div > nav div {
    margin-top: 1rem;
  }
}
